<figure class="post-thumbnail">%%IMAGE%%</figure>
<h4 class="post-title">%%TITLE%%</h4>
<div class="post-meta">
	<?php _e( 'Posted on', 'cherry-shortcodes' ); ?> %%DATE%% <?php _e( 'by', 'cherry-shortcodes' ); ?> %%AUTHOR%% %%COMMENTS%% %%TAXONOMY="category"%%
</div>
%%EXCERPT%%
%%CONTENT%%
%%BUTTON="btn btn-default"%%
<footer>%%TAXONOMY="post_tag"%%</footer>