<a href="%%URL%%" class="cherry-banner_link">
	<div class="cherry-banner_wrap" style="background-image: url(%%IMAGE%%); background-color:%%BGCOLOR%%; color:%%COLOR%%">
		%%TITLE%%
		%%CONTENT%%
	</div>
</a>