<div class="cherry-banner_wrap" style="background-color:%%BGCOLOR%%; color:%%COLOR%%;">
	<a href="%%URL%%" class="cherry-banner_link image-link">
		<img src="%%IMAGE%%" alt="">
	</a>
	%%CONTENT%%
</div>