.cherry-generator-clearfix:before,
.cherry-generator-clearfix:after {
	display: table;
	content: " ";
}
.cherry-generator-clearfix:after { clear: both; }
.cherry-generator-clear {
	height: 0;
	clear: both;
	overflow: hidden;
}
.cherry-generator-hidden { display: none !important; }

.cherry-generator-loading {
	min-height: 60px;
	background: 50% 50% url("../images/spinner.gif") no-repeat !important;
}
.cherry-generator-loading * { visibility: hidden; }

#cherry-generator-wrap { display: none; }
#cherry-generator {
	position: relative;
	width: 85%;
	max-width: 1000px;
	margin: 60px auto;
	padding: 40px 20px 20px;
	background: #fff;
	-webkit-box-shadow: 0 2px 25px #000;
	-moz-box-shadow: 0 2px 25px #000;
	box-shadow: 0 2px 25px #000;
	-webkit-transition: max-width .2s;
	-moz-transition: max-width .2s;
	transition: max-width .2s;
}
#cherry-generator.cherry-generator-narrow {
	max-width: 1024px;
	width: 75%;
}

/* Search box */
#cherry-generator-search {
	width: 100%;
	margin-bottom: 5px;
	padding: 10px 10px 10px 42px;
	background: 5px 50% url('../images/search.png') no-repeat;
	font-size: 1.3em;
}

/* Filter box */
#cherry-generator-filter {
	margin: 0 -20px;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
	color: #555;
	text-align: center;
	line-height: 24px;
}
#cherry-generator-filter a,
#cherry-generator-filter strong {
	display: inline-block;
	margin: 0 1em;
	line-height: 1;
}
#cherry-generator-filter a {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

/* Dropdown choices */
#cherry-generator-choices {
	margin-top: 20px;
	text-align: left;
}
#cherry-generator-choices > span {
	position: relative;
	display: block;
	width: 20%;
	height: 28px;
	min-width: 130px;
	padding: 0 5px 0 30px;
	float: left;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px dotted #e5e5e5;
	color: #222;
	vertical-align: top;
	text-align: left;
	line-height: 28px;
	cursor: pointer;
}
#cherry-generator-choices span:hover {
	border-bottom: 1px solid #333;
	background: #333;
	color: #fff;
}
#cherry-generator-choices span img {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 14px;
	height: 14px;
}
#cherry-generator-choices span i {
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	width: 26px;
	height: 26px;
	color: #888;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}
#cherry-generator-choices span:hover i { color: #fff; }
.cherry-generator-choice-first {
	outline: 1px solid #09f;
	box-shadow: 0 0 3px rgba(30,140,190,.8);
}

/* Breadcrumbs */
#cherry-generator-breadcrumbs {
	margin: 0 -20px 10px;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
	color: #555;
	line-height: 24px;
}
#cherry-generator-breadcrumbs span {
	margin-right: 1em;
	font-weight: bold;
}
#cherry-generator-breadcrumbs small {
	color: #bbb;
	font-weight: normal;
	font-size: 0.9em;
}

/* Notes */
.cherry-generator-note {
	position: relative;
	margin: 0 -20px 20px;
	padding: 5px 20px;
	background: #FFFFB8;
	border-bottom: 1px solid #ccc;
	color: #333;
	line-height: 18px;
}
.cherry-generator-note-content {
	min-height: 20px;
	margin-left: 35px;
}
.cherry-generator-note p { margin: 10px 0; }
.cherry-generator-note a {
	text-decoration: underline;
}
.cherry-generator-note i {
	position: absolute;
	top: 15px;
	left: 20px;
	display: block;
	width: 1em;
	height: 1em;
	color: #555;
	text-align: left;
	font-size: 20px;
	line-height: 1em;
}

/* Attribute container */
#cherry-generator-settings .cherry-generator-attr-container {
	padding: 1.5em 20px;
	border: 1px solid #ccc;
	background: #fff;
	.wp-picker-container {
		border-radius: 0;
		vertical-align: top;
	}
}
#cherry-generator-settings .cherry-generator-attr-left-container{
	float: left;
	width: 50%;
}
#cherry-generator-settings .cherry-generator-attr-left-container .cherry-generator-attr-container{
	margin: 0 5px 10px 0;
}
#cherry-generator-settings .cherry-generator-attr-right-container{
	float: left;
	width: 50%;
}
#cherry-generator-settings .cherry-generator-attr-right-container .cherry-generator-attr-container{
	margin: 0 0 10px 5px;
}
@media screen and (max-width: 782px){
	#cherry-generator-settings .cherry-generator-attr-left-container{
		float: none;
		width: 100%;
	}
	#cherry-generator-settings .cherry-generator-attr-right-container{
		float: none;
		width: 100%;
	}
}

/* Attribute name */
#cherry-generator-settings h5,
#cherry-generator-preview h5 {
	margin: 0 0 15px 0;
	font-size: 1em;
}

/* Attribute description */
.cherry-generator-attr-desc {
	margin-top: 15px;
	color: #aaa;
	font-style: italic;
	line-height: 1.6;
}
.cherry-generator-attr-desc b { color: #999; }

/* Small text after text field */
.cherry-generator-px-units {
	position: relative;
	margin-right: 15px;
}
.cherry-generator-px-units:before {
	position: absolute;
	right: -18px;
	bottom: 3px;
	display: block;
	width: 15px;
	color: #999;
	content: 'px';
	text-align: left;
	font-size: 0.9em;
}

/* Clickable values in attribute description */
.cherry-generator-attr-desc b.cherry-generator-set-value {
	border-bottom: 1px dotted #999;
	cursor: pointer;
}
.cherry-generator-attr-desc b.cherry-generator-set-value:hover {
	border-bottom: 1px dotted #333;
	color: #333;
}

/* Common attribute fields */
.cherry-generator-attr-container > input[type="text"],
#cherry-generator-settings input[type="number"],
#cherry-generator-settings textarea,
#cherry-generator-settings select {
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 0;
}

/* Upload fields */
.cherry-generator-field-actions { padding-top: 10px; }
.cherry-generator-field-actions .button,
.cherry-generator-field-actions span { margin-right: 5px; }
.cherry-generator-field-actions img {
	margin: 0 6px 0 -4px;
	vertical-align: middle;
}

/* Icon picker */
.cherry-generator-icon-picker {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	line-height: 24px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}
.cherry-generator-icon-picker.cherry-generator-icon-picker-visible {
	height: auto;
	margin: 1em -20px 0 -20px;
	padding: 14px 20px;
	overflow: visible;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cherry-generator-icon-picker input { margin-bottom: 15px; }
.cherry-generator-icon-picker i {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 2px;
	float: left;
	color: #555;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}
.cherry-generator-icon-picker i:hover {
	color: #000;
	font-size: 24px;
}

/* Shadow picker */
.cherry-generator-shadow-picker { }
.cherry-generator-shadow-picker-field {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 13%;
	padding-right: 3%;
}
.cherry-generator-shadow-picker-field small {
	display: block;
	color: #ccc;
}
.cherry-generator-shadow-picker-field input { text-align: right; }
.cherry-generator-shadow-picker-field.cherry-generator-shadow-picker-color {
	width: 52%;
	padding-right: 0;
}
.cherry-generator-shadow-picker-field.cherry-generator-shadow-picker-color input { text-align: left; }
.cherry-generator-shadow-picker-color { position: relative; }
.cherry-generator-shadow-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Border picker */
.cherry-generator-border-picker { }
.cherry-generator-border-picker-field {
	position: relative;
	display: inline-block;
	width: 21%;
	padding-right: 3%;
}
.cherry-generator-border-picker-field small {
	display: block;
	color: #ccc;
}
.cherry-generator-border-picker-field input { text-align: right; }
.cherry-generator-border-picker-field.cherry-generator-border-picker-color {
	width: 52%;
	padding-right: 0;
	input { text-align: left; }
}
.cherry-generator-border-picker-color { position: relative; }
.cherry-generator-border-picker-color-wheel {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}

/* Range pickers */
.cherry-generator-range-picker { }
.cherry-generator-range-picker .slider {
	width: 350px;
	margin: 10px 0 0 0 !important;
	padding: 0;
	float: left;
}
.cherry-generator-range-picker .slider > .dragger { background: #fff !important; }
.cherry-generator-range-picker .slider:hover > .dragger {
	background: #fff !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	-moz-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.cherry-generator-range-picker .slider > .dragger.dragging {
	background: #ccc !important;
	-webkit-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	-moz-box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
	box-shadow: 0 0 0 5px rgba(33,117,155,0.5);
}
.cherry-generator-range-picker .slider > .track {
	height: 12px !important;
	border: 1px solid #ccc !important;
	background: #fff !important;
}
.cherry-generator-range-picker input {
	width: 76px !important;
	float: right;
	text-align: center;
}

/* Switches */
.cherry-generator-switch {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}
.cherry-generator-switch span {
	display: none;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.cherry-generator-switch-yes span.cherry-generator-yes {
	display: block;
	background: #e0ffe0;
	color: #0c0;
}
.cherry-generator-switch-no span.cherry-generator-no {
	display: block;
	background: #f5f5f5;
	color: #777;
}

/* Color pickers */
.cherry-generator-select-color {
	position: relative;
	display: inline-block;
	width: 100%;
}
.cherry-generator-select-color-wheel {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	display: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	-moz-box-shadow: 0 2px 5px #ccc;
	box-shadow: 0 2px 5px #ccc;
}
/* Date pickers */
.cherry-generator-select-date {
	position: relative;
	display: inline-block;
	width: 100%;
		.cherry-generator-select-date-value{
			width: 100%;
			margin: 0;
			height: auto;
			padding: 10px;
		}
}
/* Image source picker */
.cherry-generator-isp { margin-bottom: 15px; }
.cherry-generator-isp-source {
	height: 0;
	margin: 0 -20px;
	padding: 0 20px;
	overflow: hidden;
	background: #eee;
	color: #555;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
.cherry-generator-isp-source.cherry-generator-isp-source-open {
	height: auto;
	margin: 20px -20px 0;
	padding: 14px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	opacity: 1;
}
.cherry-generator-isp-images {
	margin-top: 1em;
	overflow: auto;
}
.cherry-generator-isp-images span {
	position: relative;
	display: block;
	width: 84px;
	height: 84px;
	margin: 5px 5px 5px 0;
	float: left;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px #999;
	-moz-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
}
.cherry-generator-isp-images span:hover,
.cherry-generator-isp-images span.ui-sortable-helper {
	-webkit-box-shadow: 0 1px 6px #777;
	-moz-box-shadow: 0 1px 6px #777;
	box-shadow: 0 1px 6px #777;
}
.cherry-generator-isp-images img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.cherry-generator-isp-images span i {
	position: absolute;
	top: -3px;
	right: -3px;
	display: none;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	color: #f03;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
}
.cherry-generator-isp-images span:hover i { display: block; }
.cherry-generator-isp-images span i:hover {
	background: #f03;
	color: #fff;
}
.cherry-generator-isp-categories,
.cherry-generator-isp-taxonomies,
.cherry-generator-isp-terms { margin-top: 15px; }


/* Preview box */
#cherry-generator-preview {
	display: none;
	margin: 0 -20px;
	padding: 1.5em 20px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

/* Actions box */
.cherry-generator-actions {
	margin: 20px -20px -20px;
	padding: 1.5em 15px;
	background: #eee;
	border-top: 1px solid #ccc;
}
.cherry-generator-actions-header {
	margin: 0 -20px -20px;
	padding: 1.5em 15px;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cherry-generator-actions > .button { margin: 0 5px; }
.cherry-generator-actions .button i { margin: 0 5px 0 -3px; }

.cherry-generator-presets { position: relative; }
.cherry-generator-presets > .button { cursor: default; }
.cherry-gp-popup {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	min-width: 160px;
	max-width: 500px;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}
.cherry-gp-head {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
}
.cherry-gp-head .button {
	display: block;
	text-align: center;
}
.cherry-gp-list {
	margin: 5px 0;
}
.cherry-gp-list b {
	display: block;
	padding: 5px 10px;
	color: #aaa;
	font-weight: normal;
	font-style: italic;
}
.cherry-gp-list span {
	position: relative;
	display: block;
	padding: 5px 10px;
	overflow: hidden;
	color: #21759b;
	cursor: pointer;
}
.cherry-gp-list span:nth-child(odd) { background: #f8f8f8; }
.cherry-gp-list span:hover {
	background: #eee;
	color: #d54e21;
}
.cherry-gp-list span em {
	margin-right: 32px;
	white-space: nowrap;
	font-style: normal;
}
.cherry-gp-list span i {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #999;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
}
.cherry-gp-list span i:hover {
	background: #f03;
	color: #fff;
}

body.cherry-mfp-shown .mfp-bg { z-index: 101000 !important; }
body.cherry-mfp-shown .mfp-wrap { z-index: 101001 !important; }
body.cherry-mfp-shown .mfp-preloader { z-index: 101002 !important; }
body.cherry-mfp-shown .mfp-content { z-index: 101003 !important; }
body.cherry-mfp-shown button.mfp-close,
body.cherry-mfp-shown button.mfp-arrow { z-index: 101004 !important; }

.cherry-generator-responsive-field {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 22%;
	padding-right: 3%;
}
.cherry-generator-responsive-field small {
	display: block;
	color: #ccc;
	text-align: center;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;

}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	background-color: #eee;
		span{
			top: 15px;
			margin-left: -4px;
			margin-top: -7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 7px 4px 0;
			border-color: transparent #555555 transparent transparent;
		}
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
	background-color: #eee;
		span{
			top: 15px;
			margin-left: -4px;
			margin-top: -7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 7px;
			border-color: transparent transparent transparent #555555;
		}

}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;

}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker table thead {
	background-color: #eee;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
		&.ui-datepicker-week-end{
			a{
				color: #F11A1A;
			}
		}
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
	color: #555;
		&.ui-state-active{
			background-color: #eee;
		}
}
.ui-datepicker td a:hover {
	background-color: #eee;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
