/*--------------------------------------------------------------
# Scaffolding
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.cherry-clearfix:before, .cherry-clearfix:after {
  content: " ";
  display: table;
}
.cherry-clearfix:after {
  clear: both;
}

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
/*--------------------------
## [accordion]
--------------------------*/
.cherry-accordion {
  margin-bottom: 1.5em;
}
.cherry-accordion .cherry-spoiler {
  margin-bottom: 0.5em;
}
.cherry-accordion .cherry-spoiler:last-child {
  margin-bottom: 0;
}
.cherry-accordion .cherry-spoiler .cherry-spoiler-title {
  position: relative;
  cursor: pointer;
  min-height: 20px;
  line-height: 20px;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 13px;
}
.cherry-accordion .cherry-spoiler .cherry-spoiler-content {
  padding: 14px;
  -webkit-transition: padding-top 0.2s;
  transition: padding-top 0.2s;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-closed .cherry-spoiler-content {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  opacity: 0;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-default .cherry-spoiler-title {
  padding-left: 0;
  padding-right: 0;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple .cherry-spoiler-title {
  border-bottom: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 0.9em;
}
.cherry-accordion .cherry-spoiler.cherry-spoiler-style-simple.cherry-spoiler-closed .cherry-spoiler-title {
  border: none;
}

/*--------------------------
## [banner]
--------------------------*/
.cherry-banner {
  margin: 0;
}
.cherry-banner_wrap {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
.cherry-banner_content {
  padding: 20px;
}
.cherry-banner_title {
  padding: 20px 20px 0 20px;
  margin: 0;
}
.cherry-banner_link {
  text-decoration: none;
}
.cherry-banner_link:hover, .cherry-banner_link:active, .cherry-banner_link:focus {
  text-decoration: none;
}
.cherry-banner_link.image-link {
  display: block;
}

/*--------------------------
## [box]
--------------------------*/
.cherry-box .inner {
  padding: 15px;
}
.cherry-box > div {
  padding-top: 15px;
  padding-bottom: 15px;
}
.cherry-box .box-primary {
  background-color: #286090;
  color: #fff;
}
.cherry-box .box-secondary {
  background-color: #444444;
  color: #fff;
}
.cherry-box .box-gray {
  background-color: #dddddd;
}
.cherry-box .box-primary-border {
  border: 2px solid #286090;
}
.cherry-box .box-secondary-border {
  border: 2px solid #444444;
}
.cherry-box .box-gray-border {
  border: 2px solid #dddddd;
}

/*--------------------------
## [button]
--------------------------*/
.cherry-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #286090;
  color: white;
  text-decoration: none !important;
  text-align: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.cherry-btn:hover {
  color: white;
}
.cherry-btn-wide {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.cherry-btn-content-wrap {
  display: inline-block;
  vertical-align: middle;
}
.cherry-btn-desc {
  display: block;
  text-align: left;
  font-size: .8em;
}
.aligncenter .cherry-btn-desc, .cherry-btn-desc.desc-wide {
  text-align: center;
}
.cherry-btn-icon.icon-position-left {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.cherry-btn-icon.icon-position-top {
  display: block;
  margin: 0 0 10px 0;
}
.cherry-btn-icon.icon-position-right {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
.cherry-btn-icon.icon-position-bottom {
  display: block;
  margin: 10px 0 0 0;
}
.cherry-btn-extra-small {
  padding: 2px 5px;
  font-size: 0.8em;
  line-height: 0.8em;
}
.cherry-btn-small {
  padding: 5px 15px;
  font-size: 0.9em;
  line-height: 0.9em;
}
.cherry-btn-medium {
  padding: 10px 20px;
  font-size: 1em;
  line-height: 1em;
}
.cherry-btn-large {
  padding: 15px 30px;
  font-size: 1.1em;
  line-height: 1.1em;
}
.cherry-btn-extra-large {
  padding: 20px 35px;
  font-size: 1.2em;
  line-height: 1.2em;
}
.cherry-btn-success {
  background-color: #2fcc08;
}
.cherry-btn-success:hover {
  background-color: #249b06;
}
.cherry-btn-info {
  background-color: #00a4f7;
}
.cherry-btn-info:hover {
  background-color: #0082c4;
}
.cherry-btn-warning {
  background-color: #fcce00;
}
.cherry-btn-warning:hover {
  background-color: #c9a400;
}
.cherry-btn-danger {
  background-color: #f20000;
}
.cherry-btn-danger:hover {
  background-color: #bf0000;
}
.cherry-btn-default {
  background-color: transparent;
}
.cherry-btn-default:hover {
  background-color: white;
}
.cherry-btn-link {
  background: none !important;
  padding: 0 !important;
  color: #286090;
}
.cherry-btn-link:hover {
  color: #122b40;
}
.cherry-btn-primary-light {
  background: #FFF;
}
.cherry-btn-gray {
  background-color: #FFF;
}
.cherry-btn-transparent {
  border: 2px solid #FFF;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.cherry-btn-transparent:hover {
  background: #FFF;
}

.fluid-button-left {
  text-align: left;
}

.fluid-button-right {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

/*--------------------------
## [clear]
--------------------------*/
.cherry-clear {
  width: 100%;
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
}

/*--------------------------
## [counter]
--------------------------*/
.cherry-counter {
  text-align: center;
}
.cherry-counter span {
  font-size: 20px;
  line-height: 20px;
  color: #f62e46;
}

/*--------------------------
## [dropcap]
--------------------------*/
.cherry-dropcap {
  text-align: center;
  cursor: default;
}
.cherry-dropcap.align-left {
  float: left;
  margin: 0 20px 20px 0;
}
.cherry-dropcap.align-right {
  float: right;
  margin: 0 0 20px 20px;
}
.cherry-dropcap.align-center {
  float: none;
  margin: 0 auto 20px;
}
.cherry-dropcap .cherry-icon,
.cherry-dropcap img {
  max-width: 100%;
}

/*--------------------------
## [google_map]
--------------------------*/
.google-map-container {
  width: 100%;
  height: 400px;
  min-height: 100px;
}
.google-map-container .google-map {
  width: 100%;
  height: 100%;
  position: relative;
}
.google-map-container .google-map img {
  max-width: none !important;
}
.google-map-container .marker-desc {
  display: none;
}

/*--------------------------
## [icon]
--------------------------*/
.cherry-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
}

/*--------------------------
## [lazy_load_effect]
--------------------------*/
#site-wrapper {
  overflow: hidden;
}

.lazy-load-effect {
  -webkit-perspective-origin: center;
  perspective-origin: center;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.lazy-load-effect > div {
  display: inline-block;
}
.lazy-load-effect-reset {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: effect;
  animation-name: effect;
}

@-webkit-keyframes effect {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes effect {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*--------------------------
## [parallax]
--------------------------*/
body .main-holder {
  overflow: hidden;
  position: static;
}

.parallax-box {
  position: relative;
  overflow: hidden;
  min-height: 250px;
}

.parallax-content {
  position: relative;
  z-index: 2;
}

.parallax-bg {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-bg-inner {
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  max-width: none;
}

/*--------------------------
## [posts]
--------------------------*/
@media (max-width: 767px) {
  .cherry-posts-list .cherry-xs-clear {
    clear: both;
  }
}
@media (min-width: 768px) {
  .cherry-posts-list .cherry-xs-clear {
    clear: none;
  }
}
@media (min-width: 768px) {
  .cherry-posts-list .cherry-sm-clear {
    clear: both;
  }
}
@media (min-width: 992px) {
  .cherry-posts-list .cherry-sm-clear {
    clear: none;
  }
}
@media (min-width: 992px) {
  .cherry-posts-list .cherry-md-clear {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .cherry-posts-list .cherry-md-clear {
    clear: none;
  }
}
@media (min-width: 1200px) {
  .cherry-posts-list .cherry-lg-clear {
    clear: both;
  }
}

/**
 * Swiper 3.0.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: February 13, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-fles-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23007aff'/></svg>");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23000000'/></svg>");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='%23ffffff'/></svg>");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23007aff'/></svg>");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23000000'/></svg>");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='%23ffffff'/></svg>");
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1000000000000000;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
}

/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active {
  pointer-events: auto;
}

/* Cube */
.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
  z-index: 0;
}

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/*--------------------------
## [swiper_carousel]
--------------------------*/
.cherry-swiper-carousel-container {
  position: relative;
}
.cherry-swiper-carousel-container .cherry-swiper-carousel .swiper-wrapper .cherry-swiper-carousel-slide .inner figure.post-thumbnail img.wp-post-image {
  width: 100%;
}
.cherry-swiper-carousel-container .swiper-button-next.outer {
  right: -50px;
}
.cherry-swiper-carousel-container .swiper-button-prev.outer {
  left: -50px;
}

/*--------------------------
## [tabs]
--------------------------*/
.cherry-tabs-nav span {
  display: inline-block;
  padding: 15px 0px;
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
  line-height: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.cherry-tabs-nav span.cherry-tabs-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.cherry-tabs-pane {
  padding: 15px;
}
.cherry-tabs-current {
  background: #fff;
  cursor: default;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-nav {
  float: left;
  width: 30%;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-nav span {
  display: block;
  margin: 0;
}
.cherry-tabs.cherry-tabs-style-default.cherry-tabs-vertical .cherry-tabs-panes {
  float: left;
  width: 70%;
}
.cherry-tabs.cherry-tabs-style-simple .cherry-tabs-nav span.cherry-tabs-current {
  border-top: 2px solid #dddcdc;
  border-left: 2px solid #dddcdc;
  border-right: 2px solid #dddcdc;
  padding: 5px 8px;
}
.cherry-tabs.cherry-tabs-style-simple .cherry-tabs-panes {
  border-top: 2px solid #dddcdc;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav {
  float: left;
  width: 30%;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span {
  display: block;
  margin: 5px 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span:first-child {
  margin-top: 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span:last-child {
  margin-bottom: 0;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-nav span.cherry-tabs-current {
  border-top: 2px solid #dddcdc;
  border-left: 2px solid #dddcdc;
  border-bottom: 2px solid #dddcdc;
  border-right: none;
}
.cherry-tabs.cherry-tabs-style-simple.cherry-tabs-vertical .cherry-tabs-panes {
  float: left;
  width: 70%;
  border-left: 2px solid #dddcdc;
  border-top: none;
}

/*--------------------------
## [title_box]
--------------------------*/
.title-box:after {
  clear: both;
  content: "";
  width: 100%;
  display: block;
}
.title-box_title {
  margin: 0;
}
.title-box_subtitle {
  margin: 0;
}
.title-box_icon {
  float: left;
  margin: 0 20px 0 0;
  line-height: 1.2em;
  cursor: default;
  display: block;
}
.title-box_content {
  overflow: hidden;
}

.cherry-list ul {
  list-style: none;
  padding: 0;
}
.cherry-list li {
  padding: 0 0 5px 0;
}
.cherry-list.image-icon ul li:before {
  content: '';
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-background-size: cover;
  background-size: cover;
}

.list-icon {
  min-width: 20px;
  text-align: left;
}
