/*--------------------------
## [accordion]
--------------------------*/
.cherry-accordion{
	margin-bottom: 1.5em;
	.cherry-spoiler {
		margin-bottom: 0.5em;
		&:last-child {
			margin-bottom: 0;
		}
		.cherry-spoiler-title {
			position: relative;
			cursor: pointer;
			min-height: 20px;
			line-height: 20px;
			padding: 7px 14px;
			font-weight: bold;
			font-size: 13px;
		}
		.cherry-spoiler-content {
			padding: 14px;
			@include transition(padding-top .2s);
		}
		&.cherry-spoiler-closed {
			.cherry-spoiler-content {
				height: 0;
				margin: 0;
				padding: 0;
				overflow: hidden;
				border: none;
				opacity: 0;
			}
		}
		&.cherry-spoiler-style-default {
			.cherry-spoiler-title {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&.cherry-spoiler-style-simple {
			border: 1px solid #ccc;
			background: #fff;
			color: #333;
			.cherry-spoiler-title {
				border-bottom: 1px solid #ccc;
				background: #f0f0f0;
				font-size: 0.9em;
			}
			&.cherry-spoiler-closed {
				.cherry-spoiler-title {
					border: none;
				}
			}
		}
	}
}