/*--------------------------
## [tabs]
--------------------------*/
.cherry-tabs {
	&-nav {
		span {
			display: inline-block;
			padding: 15px 0px;
			font-size: 15px;
			font-weight: bold;
			min-height: 40px;
			line-height: 20px;
			margin: 0 20px;
			cursor: pointer;
			&.cherry-tabs-disabled {
				@include opacity(0.5);
				cursor: default;
			}
		}
	}
	&-panes {}
	&-pane {
		padding: 15px;
	}
	&-current {
		background: #fff;
		cursor: default;
	}

	&.cherry-tabs-style-default{
		&.cherry-tabs-vertical{
			.cherry-tabs-nav {
				float: left;
				width: 30%;
					span {
						display: block;
						margin: 0;
					}
			}
			.cherry-tabs-panes {
				float: left;
				width: 70%;
					.cherry-tabs-pane {}
			}
		}
	}
	&.cherry-tabs-style-simple{
		.cherry-tabs-nav {
			span {
				&.cherry-tabs-current {
					border-top: 2px solid #dddcdc;
					border-left: 2px solid #dddcdc;
					border-right: 2px solid #dddcdc;
					padding: 5px 8px;
				}
			}
		}
		.cherry-tabs-panes {
			border-top: 2px solid #dddcdc;
		}
		&.cherry-tabs-vertical{
			.cherry-tabs-nav {
				float: left;
				width: 30%;
				span {
					display: block;
					margin: 5px 0;
					&:first-child{
						margin-top: 0;
					}
					&:last-child{
						margin-bottom: 0;
					}
					&.cherry-tabs-current {
						border-top: 2px solid #dddcdc;
						border-left: 2px solid #dddcdc;
						border-bottom: 2px solid #dddcdc;
						border-right: none;
					}
				}
			}
			.cherry-tabs-panes {
				float: left;
				width: 70%;
				border-left: 2px solid #dddcdc;
				border-top: none;
			}
		}
	}
}